{% extends "base.html" %}
{% block detail %}
	<h2>{{ entry.title }}</h2>
	<p class="post-info">{{ entry.pub_date|date:"f a F j, Y" }} | <b>Categories:</b> {% for category in entry.categories.all %}<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>{% endfor %}
	</p>
	{{ entry.excerpt_html|safe }}
	{{ entry.body_html|safe }}
	{% ifequal entry.enable_comments 1 %}
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/[your-disqus-account]/embed.js"></script><noscript><a href="http://disqus.com/forums/[your-disqus-account]/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	{% endifequal %}
{% endblock %}

{% block comments %}
	{% ifequal entry.enable_comments 1 %}
	<script type="text/javascript">
	//<![CDATA[
	(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
		if(links[i].href.indexOf('#disqus_thread') >= 0) {
			query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
		}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/[your-disqus-account]/get_num_replies.js' + query + '"></' + 'script>');
	})();
	//]]>
	</script>
	{% endifequal %}
{% endblock %}


