{% extends "base.html" %}

{% block bycategory %}
		<h2>{{ category.title }}</h2>
	{% for entry in object_list %}
        {% ifequal entry.status 1 %}
			<a href="{{ entry.get_absolute_url }}"><h2>{{ entry.title }}</h2></a>
			<p class="post-info">{{ entry.pub_date|date:"f a F j, Y" }}
			</p>
			{% if entry.excerpt_html %}
				{{ entry.excerpt_html|safe }}
			{% else %}
				{{ entry.body_html|truncatewords_html:"50"|safe }}
			{% endif %}
			<p><a href="{{ entry.get_absolute_url }}">Read full entry</a></p>
        {% endifequal %}
	{% endfor %}
{% endblock %}